@font-face {
  font-family: helveticaTitle;
  src: url("../public/fonts/helv.otf");
}
@font-face {
  font-family: instruction;
  src: url("../public/fonts/Instruction.otf");
}

body {
  
  margin: 0;  
  font-weight: 550;

  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
