@font-face {
  font-family: helveticaTitle;
  src: url("../public/fonts/helv.otf");
}
@font-face {
  font-family: instruction;
  src: url("../public/fonts/Instruction.otf");
}
@font-face {
  font-family: pocket;
  src: url("../public/fonts/Pocket-Change.ttf.woff");
 
}


h1 {
  font-family: "helveticaTitle", pocket;
  font-weight: 50;
  transform:scale(1,1.2); /* W3C */
}

h2,
h3{
  font-family: "helveticaTitle", pocket;
  font-weight: 50;
  transform:scale(1,1.2); /* W3C */
}



body {
  
  margin: 0;  
  font-weight: 550;

  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
code {
  font-family:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
